			<div class="col-5" id="Sidebar">
{% if page.section contains 'sponsors' %}
				<h2>Sponsorship Opportunities</h2>
				<p>Due to the nature of the event there are a number of costs incurred which make great sponsorship opportunities for local businesses, regional tech/industry companies and international companies looking to increase their exposure amongst the active Manchester community.</p>
				<p>In return for their support of sponsors of BarCamp Manchester 3 will receive:</p>
				<ul>
					<li>Presence on the website; logo, link and short description</li>
					<li>Presence at the venue: logo on posters</li>
					<li>Space for Meal/Regular sponsors to put up their own signage for display the event</li>
					<li>Praise throughout the weekend</li>
					<li>Tickets to attend: (Meal: 3 tickets | Regular Sponsor: 2 tickets)</li>
					<li>For Meal sponsors a meal dedicated to you on the day</li>
					<li>Schwag table for sponsors to bring along items to give away</li>
				</ul>
				<p>We have a range of sponsorship options to suit, and we are open to discussion if nothing here fits. Ideally, sponsors will be able to directly provide items such as food, drinks, T-shirts, rather than money, but we can discuss exactly how this will work.</p>
				<ul>
					<li><strong>Meal/Party Sponsor</strong> £1000+</li>
					<li><strong>Regular Sponsor</strong> £500-£1000</li>
					<li><strong>Micro Sponsor</strong> £100</li>
				</ul>
				<p>Sponsors are encouraged to attend and participate in the BarCamp, holding interesting, passionate talks, and taking the time to talk face-to-face with the BarCamp community.</p>
				<h3>Micro Sponsorship</h3>
				<p>Along side of the main sponsorship packages we are looking for micro-sponsors to help, these would usually be freelancers, companies.</p>
				<p>As a micro sponsor you'll get a logo and link on the Micro Sponsors section of the website along with a logo printed on a shared poster with all the other micro sponsors at the event.</p>
				<h3>Contact Details</h3>
				<p>If you think you may be interested in sponsoring BarCamp Manchester 3, or would like to discuss opportunities, please feel free to contact <strong>Andrew Disley</strong> <a href="mailto:{{ site.s_email }}">{{ site.s_email }}</a> or call him on <strong>07921 040857</strong>.</p>
{% else %}
				<div id="Sponsors">
					<h3><a href="{{ site.url }}sponsors/">Sponsors</a></h3>
					<ul>
						<li><a href="http://www.adaptavist.com/"><img alt="Adaptavist" height="70" src="{{ site.assets_url }}assets/images/global/adaptavist.png" width="236"></a></li>
					</ul>
				</div>
{% endif %}
			</div>