			<div class="col-5" id="Sidebar">
{% if page.section contains 'sponsors' %}
				<h2>Sponsorship Opportunities</h2>
				<p>Due to the nature of the event there are a number of costs incurred which make great sponsorship opportunities for local businesses, regional tech/industry companies and international companies looking to increase their exposure amongst the active Manchester community.</p>
				<p>In return for their support of sponsors of BarCamp Manchester 3 will receive:</p>
				<ul>
					<li>Presence on the website; logo, link and short description</li>
					<li>Presence at the venue: logo on posters</li>
					<li>Space for larger sponsors to put up their own signage for display the event</li>
					<li>Praise throughout the weekend</li>
					<li>Space for sponsors to bring along items to give away</li>
				</ul>
				<p>Sponsors typically donate between £250 and £1000, depending on their capacity. We weight this against your organisations capability to determine the size of the gesture. Ideally, sponsors will be able to pay for items directly, as this helps with accounting. We can discuss exactly how this will work and address any questions you have.</p>
				<p>Sponsors are encouraged to attend and participate in the BarCamp, holding interesting, passionate talks, and taking the time to talk face-to-face with the BarCamp community.</p>
				<h3>Micro Sponsorship</h3>
				<p>Along side of the main sponsorship packages we are accepting help from micro-sponsors, these would usually be freelancers, small companies or individuals.</p>
				<p>As a micro sponsor you'll get recognition on the Micro Sponsors section of the website along with a logo displayed with all the other micro sponsors at the event.</p>
				<h3>Contact Details</h3>
				<p>If you think you may be interested in sponsoring BarCamp Manchester 3, or would like to discuss opportunities, please feel free to contact <strong>Andrew Disley</strong> via <a href="mailto:{{ site.s_email }}">{{ site.s_email }}</a> or call him on <strong>07921 040857</strong>.</p>
{% else %}
				<div id="Sponsors">
					<h3><a href="{{ site.url }}sponsors/">Sponsors</a></h3>
					<ul>
						<li><a href="http://www.adaptavist.com/"><img alt="Adaptavist" height="70" src="{{ site.assets_url }}assets/images/global/adaptavist.png" width="236"></a></li>
					</ul>
				</div>
{% endif %}
			</div>